pip install tensorboard
pip install h5py
pip install seaborn
pip install certifi
pip install charset-normalizer
pip install idna
pip install numpy
pip install Pillow
pip install requests
pip install tqdm
pip install typing-extensions
pip install urllib3
pip install matplotlib
pip install scipy
pip install torch-summary
pip install optuna
pip install pynvml
pip install tonic
pip install pandas